# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/
venv/

# VS Code and IDE configs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Test and coverage
.coverage
htmlcov/
.tox/
.nox/
.pytest_cache/

# Environment files
.env
*.env

# Logs
*.log

# macOS, Linux, Windows
.DS_Store
Thumbs.db

# Docker-related
*.pid
docker-compose.override.yml

# Compiled objects or artifacts
*.so
*.out
*.o

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Local build artifacts
build/
dist/
*.egg-info/

# pip dependency resolver lock file
pip-log.txt

#pytest
pytest.ini